



/* text formatting */

h1 
    {font-style: none;
    text-align: center;
    font-family: 'Rokkitt', serif;

    }
h2 {font-style: none;
    text-align: center;
    font-family: 'Rokkitt', serif;
    margin:15px;}

a:link {color:blue;}
a:visited { color: blue;}
    
/*Services*/

.servicecontainer1 {
display:flex;
flex-wrap: none;
align-items:center;
justify-content: center;
flex-direction:column;
margin:0;
padding:0;
}
.servicecontainer2 {
display:flex;
flex-wrap: wrap;
flex-direction:column;
align-items:center;
justify-content:center;
margin:0;
padding:0; 
}
.servicecontainer3 {
display:flex;
flex-wrap: wrap;
flex-direction:column;
align-items:center;
justify-content:center;
margin:0;
padding:0; 
}

.servicecontainer4 {
display:flex;
flex-wrap: wrap;
flex-direction:column;
align-items:center;
justify-content:center;
margin:0;
padding:0; 
}
.dogwalkingp {
padding:0;
width:70%;
height:auto;
margin:15px;
}



.privatewalkp {
padding:0;
margin: 15px;
width:70%;
height:auto;}

.groupwalk {
padding:0;
width:70%;
height:auto;
text-align:center; 
font-family: 'Rokkitt', serif;
font-size: 14pt;}

.boarding {
padding:0;
width:75%;
height:auto;
text-align:center; 
font-family: 'Rokkitt', serif;
font-size: 14pt;}

.requirements {
        font-family: 'Rokkitt', serif;
        font-size: 14pt;
        padding:0;
        width:70%;
        height:auto;
        text-align:left;
        list-style-type: circle;
        margin: 15px 15px 60px 15px;
       }

.Simagecontainer1 {
display:flex;
flex-wrap: wrap; 
justify-content:center;

}


.walk1 { max-width: 30%;
        max-height: 250px;
        border:1pt solid darkorange;
        margin:15px 15px 15px 15px;
      
        }
.walk2 { max-width:30%;
        max-height:250px;
         border:1pt solid darkorange;
         margin:15px 15px 15px 15px;
        

        }
.walk3 { 
        max-width: 30%;
        max-height: 250px;
        border:1pt solid darkorange;
        margin:15px 15px 15px 15px; 
        }

.Simagecontainer2 {
display:flex;
 flex-wrap: wrap; 
 justify-content:center;

}


.group1 { max-width: 30%;
        max-height: 250px;
        border:1pt solid darkorange;
        margin:15px 15px 15px 15px;
      
        }
.group2 { max-width:30%;
        max-height:250px;
         border:1pt solid darkorange;
         margin:15px 15px 15px 15px;
        

        }
.group3 {  max-width: 30%;
        max-height: 250px;
        border:1pt solid darkorange;
        margin:15px 15px 15px 15px; 
        }

.Simagecontainer3 {display:flex;
 flex-wrap: wrap; 
 justify-content:center;

}

.paws1 { max-width: 30%;
        max-height: 250px;
        border:1pt solid darkorange;
        margin:15px 15px 15px 15px;
      
        }
.paws2 { max-width:30%;
        max-height:250px;
         border:1pt solid darkorange;
         margin:15px 15px 15px 15px;
        

        }
.paws3 {  max-width: 30%;
        max-height: 250px;
        border:1pt solid darkorange;
        margin:15px 15px 15px 15px; 
        }

.Simagecontainer4 {display:flex;
 flex-wrap: wrap; 
 justify-content:center;

}

.groupc1 { max-width: 30%;
        max-height: 250px;
        border:1pt solid darkorange;
        margin:15px 15px 15px 15px;
      
        }
.groupc2 { max-width:30%;
        max-height:250px;
         border:1pt solid darkorange;
         margin:15px 15px 15px 15px;
        

        }
.groupc3 {  max-width: 30%;
        max-height: 250px;
        border:1pt solid darkorange;
        margin:15px 15px 15px 15px; 
        }

.Simagecontainer5 {display:flex;
 flex-wrap: wrap; 
 justify-content:center;

}

.private1 { max-width: 30%;
        max-height: 250px;
        border:1pt solid darkorange;
        margin:15px 15px 15px 15px;
      
        }
.private2 { max-width:30%;
        max-height:250px;
         border:1pt solid darkorange;
         margin:15px 15px 15px 15px;
        

        }
.private3 {  max-width: 30%;
        max-height: 250px;
        border:1pt solid darkorange;
        margin:15px 15px 15px 15px; 
        }

.groupcarecontainer
{display:flex;
flex-wrap: none;
align-items:center;
justify-content: center;
flex-direction:column;
margin:0;
padding:0;}


.groupcare {
        font-family: 'Rokkitt', serif;
        font-size: 14pt;
        padding:0;
        width:70%;
        height:auto;
        text-align:left;
        list-style-type: circle;
        margin: 15px;
       }

.privatecarecontainer
{display:flex;
flex-wrap: none;
align-items:center;
justify-content: center;
flex-direction:column;
margin:0;
padding:0;}


.privatecare {
        font-family: 'Rokkitt', serif;
        font-size: 14pt;
        padding:0;
        width:70%;
        height:auto;
        text-align:left;
        list-style-type: circle;
        margin: 15px;
       }








/*About us */
.AUimages{
        margin-left:40px;
}

.AUcontainer {display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.AUcontainer > div {
	width: 45%;
	padding: 10px;
}

.AUcontainer > div:AUp {
	margin-right: 20px;
}

.AUp {  margin-right: 25px;
        text-align:center; 
        font-family: 'Rokkitt', serif; 
        font-size: 14pt;   
 }


.condo
{       width:350px;
        max-height: 250px;
        border:1pt solid darkorange;
        margin:15px;
        }
.staff
{       width:350px;
        max-height: 250px;
        border:1pt solid darkorange;
         margin:20px 15px 15px 15px
        }
.facility
{       width: 350px;
        max-height: 250px;
        border:1pt solid darkorange;
         margin:15px;
        } 
/*ContactUs*/

.contact1 { max-width: 30%;
        max-height: 250px;
        border:1pt solid darkorange;
        margin:15px 15px 15px 15px;  }

.contact2 { max-width:30%;
        max-height:250px;
         border:1pt solid darkorange;
         margin:15px 15px 15px 15px;}

.contact3 {  max-width: 30%;
        max-height: 250px;
        border:1pt solid darkorange;
        margin:15px 15px 15px 15px;}

.contactPcontainer 
{display:flex;
 flex-wrap: wrap;
justify-content:center;
 margin:0;
 padding:0;
}

.contactP
{ margin:0 0 55px 0;
padding:0;
width:60%;
height:auto;
    
}

.contactcontainer { 
display:flex;
 flex-wrap: wrap; 
 justify-content:center;


}

/*Home*/ 

.HomePcontainer 
{display:flex;
 flex-wrap: wrap;
justify-content:center;
 margin:0;
 padding:0;
}

.HomeP
{ margin:0 0 55px 0;
padding:0;
width:60%;
height:auto;
    
}

.homecontainer { 
display:flex;
 flex-wrap: wrap; 
 justify-content:center;
}



.pal1 { max-width: 30%;
        max-height: 250px;
        border:1pt solid darkorange;
        margin:15px 15px 15px 15px;
      
        }
.pal2 { max-width:30%;
        max-height:250px;
         border:1pt solid darkorange;
         margin:15px 15px 15px 15px;
        

        }
.pal4 {  max-width: 30%;
        max-height: 250px;
        border:1pt solid darkorange;
        margin:15px 15px 15px 15px; 
        }

#info {font-size: 14pt;
        margin: 15px; 
    }

p /*{margin:25px 75px 75px 75px;*/
{       
        text-align:center; 
        font-family: 'Rokkitt', serif;
        font-size: 14pt;}
 
/*photos*/




#collie {
    float:left;   
}

/*nav menu*/
.flexmenu ul {
    list-style-type: none;
    background:black;
    font-size: 14pt; 
    font-family: 'Cabin', sans-serif; 
    text-decoration: none;
    margin:0px;
    padding:10px;
    display:flex; 
    flex-wrap:none;
    justify-content: space-around;
   
    }
.flexmenu li { 
    font-family:'Cabin', sans-serif;
    color: floralwhite;}

    
.flexmenu li a:link{
    color:floralwhite;
    text-decoration: none;
}
.flexmenu li a:visited {
    color:floralwhite;
    text-decoration:none; 
} 

.flexmenu li a:hover {
    color:darkorange;
    text-decoration: none;
}



/* banner styles */
.banner1{
    height:200px;
    width: 100%;
    position:relative;
    margin:0px;
    
} 


.homebanner {
    max-width: 100%;
    max-height:250px;
    flex:1;
    align-content:flex-start;
    padding:0px;
    margin:0px;
    border:1pt solid black
      }

.bannercontainer {
display:flex;
}

.aboutusbanner {
    max-width: 100%;
    max-height:250px;
    flex:1;
    align-content:flex-start;
    padding:0px;
    margin:0px;
    border:1pt solid black; 
    
} 
.servicebanner {
    max-width: 100%;
    max-height:250px;
    flex:1;
    align-content:flex-start;
    padding:0px;
    margin:0px;
    border:1pt solid black}

.pricesbanner {
    max-width: 100%;
    max-height:250px;
    flex:1;
    align-content:flex-start;
    padding:0px;
    margin:0px;
    border:1pt solid black}

.footer
{flex:1;
color: grey;
text-decoration:none;
font-size: 11pt;
padding: 2px 2px 10px 2px;
background: black;
margin: 75px 0px 0px 0px;
height:35px;
width:100%;
}
.site {
display: flex;
min-height:100%;
flex-direction: column;
}




/* Prices */

.price {
        font-size: 26pt;
        font-family:'Rokkitt', serif;
        margin: 10px 50px;
        text-align:center;
}
.pricing-grid1 {
  max-width:750px;
  margin: 0 auto;
  padding:0;
  display:flex; 

  
}
.pricing-grid2 {
  max-width:750px;
  margin: 0 auto;
  padding:0;
  display:flex; 
}

.features {
margin: 0;
padding: 0;
list-style-type:none;
font-family:'Rokkitt', serif;
text-align:center;
}

.features li {
border-bottom: 1px solid white;
padding:8px;}


.plan1 {
  background:darkorange;
  margin:20px;
  padding:20px;
  border-radius: 4px;
  text-align: center;
  color:rgba(248, 248, 255, 0.82);
  min-width:100px;
  
  flex:1;
  display:flex;
  flex-wrap:wrap;

}

.plan2 {
  background: darkorange;
  margin:20px;
  padding:20px;
  border-radius: 4px;
  text-align: center;
  color: rgba(248, 248, 255, 0.82);
 min-width:100px;
  flex:1;
  display:flex;
  flex-wrap:wrap;
}


.plan3 {
  background: darkorange;
  margin:20px;
  padding:20px;
  border-radius: 4px;
  text-align: center;
  width:200px;
  color:rgba(248, 248, 255, 0.82);
  flex:1;
  display:flex;
  flex-wrap:wrap;

}.plan4 {
  background:darkorange;
  margin:20px;
  padding:20px;
  border-radius: 4px;
  text-align: center;
  width:200px;
  color:rgba(248, 248, 255, 0.82);
  flex:1;
  display:flex;
  flex-wrap:wrap;

}.plan5 {
  background:darkorange;
  margin:20px;
  padding:20px;
  border-radius: 4px;
  text-align: center;
  width:200px;
  color:rgba(248, 248, 255, 0.82);
  flex:1;
  display:flex;
  flex-wrap:wrap;

}
